@import "tailwindcss";

.page {
    background-color: #0E1F40;
    color: white;
}

.headerText {
    width: 80%;
}

.mainText {
    width: 60%;
}

.mainContent {
    width: 60%;
}

.loginButton {
    background-color: #D9D9D9;
}

.appFooter {
    background-color: #D9D9D9;
}
