.enterUsernameBox {
    background-color: grey;
}

.enterPasswordBox {
    background-color: grey;
}

.activeLoginSignUpTitle {
    color: black;
    background-color: #D9D9D9;
}

.inactiveLoginSignUpTitle{
    background-color: #D9D9D9;
}